body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #a4bac9;
}

.title {
  font-size: 35px;
  color: #e1e1e1;
  margin-bottom: 25px;
}

.calc_wrapper {
  padding: 45px 45px;
  margin-bottom: 20px;
  background-color: #7b888a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.input-1 {
  max-width: 100px;
  padding: 5px 10px;
  font-size: 21px;
  text-align: center;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
}

.select-operator {
  margin-right: 20px;
  width: 40px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.input-2 {
  max-width: 100px;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 21px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.result-btn {
  width: 40px;
  height: 30px;
  margin-right: 15px;
  font-size: 21px;
  border-radius: 5px;
  border: none;
}

.output-value {
  padding: 5px 10px;
  font-size: 23px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

.history {
  display: block;
  margin-left: 108px;
  margin-top: 25px;
  font-size: 13px;
}

.history-result {
  min-width: 220px;
  min-height: 75px;
  padding: 10px;
  font-size: 15px;
  color: #818181;
  background-color: #e0f3f3;
  overflow: scroll;
  border-radius: 5px;
}

.history-item {
  font-size: 19px;
  margin: 5px;
  margin-left: 0;
  color: #474747;
  cursor: pointer;
}

.result-color {
  background-color: #c4ff69;
}
